body{
    background-image: url(../src/images/Web\ 1920\ –\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 20px;   
}



